<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div class="center">

<nav th:replace="fragments :: navigation"></nav>

    <table>
        <tr>
            <h1 th:text="${title}">Default Title</h1>
        </tr>

        <tr>
            <p th:unless="${cheeses} and ${cheeses.size()}">No Cheese &cross;</p>
        </tr>

        <tr th:if="${cheeses.size()}">
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:if="${cheeses}" th:each="cheese : ${cheeses}">
            <td th:text="${cheese.getName()}">Name</td>
            <td th:text="${cheese.getDescription()}">Description</td>
        </tr>
    </table>

</div>

</body>

</html>