<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div class="center">

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <table>
        <tr>
            <h1 th:text="${title}">Default Title</h1>
        </tr>

        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="cheese : ${cheeses}">
            <td>
                <input type="checkbox" name="removeList" th:value="${cheese.getName()}" th:text="${cheese.getName()}" />

            </td>

            <td th:text="${cheese.getDescription()}">Description</td>
        </tr>
    </table>

    <br />
    <input type="submit" value="Remove Cheese" />
</form>

</div>

</body>

</html>