<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div class="center">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${cheese}">

    <table>
        <tr>
            <h1 th:text="${title}">Default Title</h1>
        </tr>

        <tr>
            <select name="removedCheese">
            <option th:each="aCheese, iter : ${cheeses}" th:value="${iter.index}" th:text="${aCheese.getName()}"></option>

            </select>
        </tr>
    </table>

    <br />
    <input type="submit" value="Remove Cheese" />
</form>

</div>

</body>

</html>